
body{

    background: #6d4e10;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffb727, #6d4e10);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffb727, #6d4e10); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.centrado{
    text-align:center;
    vertical-align: middle;
}